.abouthead{
    position: absolute;
width: 208px;
height: 56px;
left: 359px;
top: 77px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;

}

.detail{
position: absolute;
width: 65%;
height: 500px;
left: 359px;
text-align: left;
top: 290px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #000000;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

