<div class="sidenav">
  <div style="position: absolute;
  width: 25px;
  height: 0px;
  left: 21px;
  top: 40px;
  border: 4px solid #FFFFFF"></div>

  <div style="position: absolute;
  width: 25px;
  height: 0px;
  left: 21px;
  top: 50px;
  border: 4px solid #FFFFFF;"></div>

  <div style="position: absolute;
  width: 12px;
  height: 0px;
  left: 21px;
  top: 60px;
  
  border: 4px solid #FFFFFF;">
  </div>

  <div style="position: absolute;
  width: 99px;
  height: 28px;
  left: 101px;
  top: 34px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #FFFFFF;">1805404</div>

  

     <ul style="margin-top: 40%;">
      <li [routerLink]="['/home']"  routerLinkActive="active"><a > <i class="material-icons" >home</i>Home</a></li>
      <li [routerLink]="['/about']" routerLinkActive="active"><a  ><i class="material-icons" > face
      </i>
       
        About</a></li>
  </ul>
  
</div>
